<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024803276832-c5cmpkr23khdma60ruvfatfpjn7d2vim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024803276832-c5cmpkr23khdma60ruvfatfpjn7d2vim</string>
	<key>API_KEY</key>
	<string>AIzaSyDFUmr5kVEtR-sqtx76uGPSTpzydA-R6lc</string>
	<key>GCM_SENDER_ID</key>
	<string>1024803276832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.myorg.Fakea</string>
	<key>PROJECT_ID</key>
	<string>furniturestore-9b481</string>
	<key>STORAGE_BUCKET</key>
	<string>furniturestore-9b481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024803276832:ios:d71401daa0913b33641445</string>
</dict>
</plist>